body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:80px;
  width:260px;
  height:35px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:115px;
  width:260px;
  height:369px;
  opacity:0.3;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:369px;
}
#u3 {
  position:absolute;
  left:2px;
  top:176px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:484px;
  width:260px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:310px;
  top:80px;
  width:260px;
  height:105px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:105px;
}
#u7 {
  position:absolute;
  left:2px;
  top:44px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
