body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:20px;
  width:780px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:100px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:20px;
  width:10px;
  height:450px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:433px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:450px;
}
#u5 {
  position:absolute;
  left:220px;
  top:50px;
  width:150px;
  height:150px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u6 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:445px;
  top:50px;
  width:150px;
  height:150px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u8 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:670px;
  top:50px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u10 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:220px;
  top:270px;
  width:150px;
  height:150px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u12 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:445px;
  top:270px;
  width:150px;
  height:150px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u14 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:670px;
  top:270px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u16 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:220px;
  top:430px;
  width:150px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:220px;
  top:210px;
  width:150px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:445px;
  top:430px;
  width:150px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:445px;
  top:210px;
  width:150px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:670px;
  top:430px;
  width:150px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:670px;
  top:210px;
  width:150px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:500px;
  width:780px;
  height:450px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:450px;
}
#u30 {
  position:absolute;
  left:2px;
  top:217px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:80px;
  top:580px;
  width:100px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:190px;
  top:500px;
  width:10px;
  height:450px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:433px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:450px;
}
#u34 {
  position:absolute;
  left:220px;
  top:520px;
  width:90px;
  height:90px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u35 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:320px;
  top:520px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:320px;
  top:554px;
  width:61px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:320px;
  top:580px;
  width:100px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:430px;
  top:580px;
  width:100px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:220px;
  top:620px;
  width:80px;
  height:99px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u45 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:308px;
  top:620px;
  width:80px;
  height:99px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:397px;
  top:620px;
  width:80px;
  height:99px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u49 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:485px;
  top:620px;
  width:80px;
  height:99px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u51 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:574px;
  top:620px;
  width:80px;
  height:99px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u53 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:662px;
  top:620px;
  width:80px;
  height:99px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u55 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:220px;
  top:730px;
  width:80px;
  height:99px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u57 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:308px;
  top:730px;
  width:80px;
  height:99px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u59 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:397px;
  top:730px;
  width:80px;
  height:99px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u61 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:485px;
  top:730px;
  width:80px;
  height:99px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u63 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:574px;
  top:730px;
  width:80px;
  height:99px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u65 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:662px;
  top:730px;
  width:80px;
  height:99px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u67 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:220px;
  top:841px;
  width:80px;
  height:99px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u69 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:308px;
  top:841px;
  width:80px;
  height:99px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u71 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:397px;
  top:841px;
  width:80px;
  height:99px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u73 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:485px;
  top:841px;
  width:80px;
  height:99px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u75 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:574px;
  top:841px;
  width:80px;
  height:99px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u77 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:662px;
  top:841px;
  width:80px;
  height:99px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u79 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:750px;
  top:620px;
  width:80px;
  height:99px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u81 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:750px;
  top:730px;
  width:80px;
  height:99px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u83 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:750px;
  top:841px;
  width:80px;
  height:99px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u85 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:80px;
  top:1060px;
  width:100px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:190px;
  top:980px;
  width:10px;
  height:450px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:433px;
  width:20px;
  height:18px;
}
#u88_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:450px;
}
#u89 {
  position:absolute;
  left:220px;
  top:1000px;
  width:90px;
  height:90px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u90 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:320px;
  top:1000px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:320px;
  top:1034px;
  width:61px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:320px;
  top:1060px;
  width:100px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:430px;
  top:1060px;
  width:100px;
  height:30px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:220px;
  top:1100px;
  width:80px;
  height:99px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u100 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:308px;
  top:1100px;
  width:80px;
  height:99px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u102 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:397px;
  top:1100px;
  width:80px;
  height:99px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u104 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:485px;
  top:1100px;
  width:80px;
  height:99px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u106 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:574px;
  top:1100px;
  width:80px;
  height:99px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u108 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:662px;
  top:1100px;
  width:80px;
  height:99px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u110 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:220px;
  top:1210px;
  width:80px;
  height:99px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u112 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:308px;
  top:1210px;
  width:80px;
  height:99px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u114 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:397px;
  top:1210px;
  width:80px;
  height:99px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u116 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:485px;
  top:1210px;
  width:80px;
  height:99px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u118 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:574px;
  top:1210px;
  width:80px;
  height:99px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u120 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:662px;
  top:1210px;
  width:80px;
  height:99px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u122 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:220px;
  top:1321px;
  width:80px;
  height:99px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u124 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:308px;
  top:1321px;
  width:80px;
  height:99px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u126 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:397px;
  top:1321px;
  width:80px;
  height:99px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u128 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:485px;
  top:1321px;
  width:80px;
  height:99px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u130 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:574px;
  top:1321px;
  width:80px;
  height:99px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u132 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:662px;
  top:1321px;
  width:80px;
  height:99px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u134 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:750px;
  top:1100px;
  width:80px;
  height:99px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u136 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:750px;
  top:1210px;
  width:80px;
  height:99px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u138 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:750px;
  top:1321px;
  width:80px;
  height:99px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:99px;
}
#u140 {
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:70px;
  top:980px;
  width:780px;
  height:450px;
  opacity:0.2;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:450px;
}
#u142 {
  position:absolute;
  left:2px;
  top:217px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:300px;
  top:998px;
  width:420px;
  height:372px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:372px;
}
#u144 {
  position:absolute;
  left:2px;
  top:178px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:310px;
  top:1010px;
  width:400px;
  height:340px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:340px;
}
#u146 {
  position:absolute;
  left:2px;
  top:162px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:720px;
  top:998px;
  width:130px;
  height:102px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:102px;
}
#u148 {
  position:absolute;
  left:2px;
  top:43px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:730px;
  top:1060px;
  width:100px;
  height:30px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:308px;
  top:1309px;
  width:100px;
  height:30px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:610px;
  top:1309px;
  width:100px;
  height:30px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:730px;
  top:1008px;
  width:53px;
  height:16px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:730px;
  top:1034px;
  width:105px;
  height:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
